/* line 4, ../../../../../../compass/spk/sass/styles.scss */
body {
  width: auto;
  height: auto;
  min-height: 300px;
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  /*background: url(../images/sid<F5>ebar.png) #fbfdfe 80px 0 repeat-y;*/
}

/* line 14, ../../../../../../compass/spk/sass/styles.scss */
.js body {
  visibility: hidden;
}

/* line 18, ../../../../../../compass/spk/sass/styles.scss */
#nav {
  display: block;
  border-right: 1px solid #CCC !important;
  box-shadow: inset 0px 0px 6px #CCC;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  font-size: 20px;
  background: #FFF;
  z-index: 100;
}

/* line 32, ../../../../../../compass/spk/sass/styles.scss */
.device #nav {
  border-right-width: 2px;
}

/* line 36, ../../../../../../compass/spk/sass/styles.scss */
body a {
  cursor: pointer;
}

/* line 40, ../../../../../../compass/spk/sass/styles.scss */
#identity div {
  display: block;
  font-size: 20px;
  margin-top: 20px;
  color: #999;
  font-family: 'Titillium Web', Arial, Helvetica, sans;
}

/* line 48, ../../../../../../compass/spk/sass/styles.scss */
#title {
  display: block;
  color: #444;
  font-size: 28px;
  padding: 10px;
  font-weight: 600;
  font-family: 'Titillium Web', Arial, sans;
  border-bottom: 3px solid #EEE;
  background: url(../img/panel.png) -48px -55px no-repeat;
}
/* line 58, ../../../../../../compass/spk/sass/styles.scss */
#title a {
  text-decoration: none;
  color: #555;
}
/* line 62, ../../../../../../compass/spk/sass/styles.scss */
#title a:hover {
  color: #3AB1CF;
}

/* line 69, ../../../../../../compass/spk/sass/styles.scss */
#identity ul {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 73, ../../../../../../compass/spk/sass/styles.scss */
#identity li {
  color: #666;
  list-style: disc inside;
  font-weight: normal;
  font-size: 12px;
}

/* line 81, ../../../../../../compass/spk/sass/styles.scss */
#menu {
  display: block;
  height: auto;
  width: 225px;
  padding-bottom: 100px;
}
/* line 86, ../../../../../../compass/spk/sass/styles.scss */
#menu > li {
  display: block;
  overflow: hidden;
}
/* line 90, ../../../../../../compass/spk/sass/styles.scss */
#menu .group {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  padding: 10px;
}
/* line 96, ../../../../../../compass/spk/sass/styles.scss */
#menu a {
  display: block;
  overflow: hidden;
  color: #555;
  font-size: 14px;
  padding-left: 10px;
  height: 40px;
  line-height: 42px;
  text-decoration: none;
  font-weight: normal;
  border-top: 1px dashed #FFF;
  border-bottom: 1px dashed #FFF;
  font-family: "Courier New", "Lucida Console", monospace;
  background: url(../img/icons/lnkRt.png) 206px 16px no-repeat;
}
/* line 112, ../../../../../../compass/spk/sass/styles.scss */
#menu a:hover {
  box-shadow: 0px 0px 6px #CCC;
  border-color: #EEE;
  background-color: #FCFCFC;
  color: #3ab1cf;
}
/* line 119, ../../../../../../compass/spk/sass/styles.scss */
#menu .disabled {
  color: #999;
  background: none;
}
/* line 122, ../../../../../../compass/spk/sass/styles.scss */
#menu .disabled:hover {
  color: #999;
  background: none;
}

/* line 129, ../../../../../../compass/spk/sass/styles.scss */
#pending {
  padding-left: 10px;
  font-size: 16px;
  height: 50px;
  line-height: 52px;
  font-weight: bold;
  color: #999;
  position: relative;
}

/* line 140, ../../../../../../compass/spk/sass/styles.scss */
.subMenu > * {
  width: 230px;
  overflow: hidden;
  display: block;
}
/* line 145, ../../../../../../compass/spk/sass/styles.scss */
.subMenu ul {
  padding-left: 10px;
}
/* line 148, ../../../../../../compass/spk/sass/styles.scss */
.subMenu li {
  display: inline-block;
  padding-left: 10px;
  width: 200px;
  list-style: disc inside;
}

/* line 157, ../../../../../../compass/spk/sass/styles.scss */
#menu .subMenu ul a {
  width: 180px;
  display: inline-block;
  overflow: hidden;
}

/* line 164, ../../../../../../compass/spk/sass/styles.scss */
.subMenu h4, .subMenu h5 {
  width: 180px;
  display: inline-block;
  overflow: hidden;
}
/* line 169, ../../../../../../compass/spk/sass/styles.scss */
.subMenu h4 {
  font-size: 14px;
  color: #444;
  font-weight: normal;
}
/* line 173, ../../../../../../compass/spk/sass/styles.scss */
.subMenu h4 span {
  display: inline;
}
/* line 177, ../../../../../../compass/spk/sass/styles.scss */
.subMenu h5 {
  width: 180px;
  font-size: 12px;
  font-weight: normal;
}

/*
#tinyCode {
	display: block;
	padding: 10px 0;
	margin: 10px 0;
	color: #555;
	font-size: 16px;
	line-height: 18px;
	border-top: 1px dashed #CCC;
	border-bottom: 1px dashed #CCC;
}

#tinyCode span {
	 padding: 0px;
}

#tinyCode .tinyBlue {
	font-weight: normal;
}

.tinyBlue {
	font-weight: normal;
	color: #17C
}

.tinyRed {
	font-weight: bold;
	color: #FF554D;
}

#tinyCode .tinyRed {
	font-weight: bold;
	color: #666;
}

#tinyCode .tinyCodeIndent {
	display: block;
	font-weight: normal;
	margin: 10px 0px 6px 20px
}

*/
/************************************/
/* line 229, ../../../../../../compass/spk/sass/styles.scss */
.info {
  display: block;
  color: #666;
  margin: 20px 0 10px;
  width: 80%;
  max-width: 320px;
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  line-height: 16px;
}
/* line 238, ../../../../../../compass/spk/sass/styles.scss */
.info h6 {
  display: block;
  border: 4px solid #EEE;
  padding: 10px;
  color: #555;
  font-size: 16px;
  font-family: "Titillium Web", Arial, sans;
}

/* line 249, ../../../../../../compass/spk/sass/styles.scss */
#teaser ol {
  margin-top: 10px;
  list-style: inside decimal;
}
/* line 253, ../../../../../../compass/spk/sass/styles.scss */
#teaser ul {
  display: block;
  margin-top: 10px;
  border: 1px solid #EEE;
  padding: 10px;
}

/********************wrap*******************/
/* line 263, ../../../../../../compass/spk/sass/styles.scss */
#mc {
  display: block;
  margin: 0;
}

/* line 268, ../../../../../../compass/spk/sass/styles.scss */
#wrap {
  display: block;
  position: relative;
  background: #FFF;
  width: auto;
  padding-bottom: 20px;
  height: 100%;
  margin-left: 260px;
}

/***********form*************************/
/* line 281, ../../../../../../compass/spk/sass/styles.scss */
form p {
  font-size: 14px;
  color: #666;
  line-height: 18px;
}
/* line 286, ../../../../../../compass/spk/sass/styles.scss */
form label {
  font-weight: normal;
  font-size: 16px;
  text-transform: capitalize;
  color: #333;
  display: inline-block;
  margin-top: 5px;
}
/* line 295, ../../../../../../compass/spk/sass/styles.scss */
form input[type="text"], form input[type="password"] {
  font-size: 14px;
  color: #666;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #EEE;
  width: 223px;
  display: block;
}

/* line 307, ../../../../../../compass/spk/sass/styles.scss */
#loginForm {
  display: block;
  overflow: hidden;
  width: 240px;
  margin: 20px;
}
/* line 312, ../../../../../../compass/spk/sass/styles.scss */
#loginForm label {
  margin-top: 10px;
}

/* line 317, ../../../../../../compass/spk/sass/styles.scss */
#loginBtn {
  margin: 0px 0px 0px -5px;
}

/* line 321, ../../../../../../compass/spk/sass/styles.scss */
#options {
  display: block;
  margin-top: 5px;
}
/* line 324, ../../../../../../compass/spk/sass/styles.scss */
#options * {
  display: block;
  height: 36px;
}

/* line 330, ../../../../../../compass/spk/sass/styles.scss */
#autolog label {
  color: #444444;
}

/* line 335, ../../../../../../compass/spk/sass/styles.scss */
#options a span {
  color: #444;
  text-indent: 5px;
  line-height: 38px;
  position: absolute;
  z-index: 5;
  display: block;
  width: 240px;
  height: 36px;
  background: url(../images/btnClass.png) -66px -570px no-repeat;
}
/* line 345, ../../../../../../compass/spk/sass/styles.scss */
#options a span:hover {
  background-position: -66px -438px;
}
/* line 349, ../../../../../../compass/spk/sass/styles.scss */
#options a:hover {
  background-position: 0px -130px;
}
/* line 351, ../../../../../../compass/spk/sass/styles.scss */
#options a:hover span {
  color: #FFF;
}

/* line 357, ../../../../../../compass/spk/sass/styles.scss */
#autolog:hover label {
  color: #09F;
}

/* line 361, ../../../../../../compass/spk/sass/styles.scss */
#options a, #autolog label {
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
}

/* line 367, ../../../../../../compass/spk/sass/styles.scss */
#options a {
  width: 220px;
  background: url(../images/btnClass.png) 0 -262px no-repeat;
}

/* line 372, ../../../../../../compass/spk/sass/styles.scss */
#autolog {
  display: block;
  margin-top: 20px;
}
/* line 375, ../../../../../../compass/spk/sass/styles.scss */
#autolog input {
  display: block;
  float: left;
}
/* line 379, ../../../../../../compass/spk/sass/styles.scss */
#autolog label {
  text-indent: 6px;
  display: block;
  width: 160px;
  line-height: 36px;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
  position: relative;
  top: -8px;
}

/*************Submit Button******************/
/*
.subClip {
	margin-left: -5px;
}

.btnSubmit {
	display: block;
	margin-top: 10px;
	color: #555;
	width: auto;
	height: 35px;
	font-size: 13px;
	font-weight: bold;
	border: none;
	outline: none;
	text-decoration: none;
	background: transparent;
	cursor: pointer;
}

#loginForm .btnSubmit span span {
	color: #444;
	font-size: 14px;
	font-weight: bold;
	padding-right: 78px;
}

.btnSubmit.fltRt {
	margin-left: -10px;
	margin-right: -8px;
}

button.btnSubmit {
	padding-bottom: 1px;
	outline: none;
	border: none;
}

.btnSubmit span {
	display: block;
	width: auto;
	height: 34px;
	padding: 0 31px 0 0;
	background: url(../images/btnClass.png) 100% -572px no-repeat;
}

.btnSubmit span span {
	display: block;
	background-position: 0 -264px;
	width: auto;
	height: 34px;
	font-size: 12px;
	font-weight: normal;
	color: #777;
	line-height: 34px;
	text-indent: 10px;
}

.btnSubmit:hover span,
.btnSubmit.bh span {
	color: #FFF !important;
	background-position: 100% -440px;
}

.btnSubmit:hover span span,
.btnSubmit.bh span span {
	background-position: 0 -132px;
}

.btnSubmit.bRed span {
	background-position: 100% -572px
}

.btnSubmit.bRed span span {
	background-position: 0 -264px
}

.btnSubmit.bRed:hover span {
	background-position: 100% -440px
}

.btnSubmit.bRed:hover span span {
	background-position: 0 -132px
}
*/
/***************************************/
/* line 480, ../../../../../../compass/spk/sass/styles.scss */
#footer {
  display: block;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #888;
  font-weight: normal;
  max-width: 400px;
  width: 50%;
  font-size: 10px;
  padding: 10px;
  left: 245px;
  font-family: Arial, Helvetica, sans;
}

/* line 495, ../../../../../../compass/spk/sass/styles.scss */
.b {
  font-weight: bold !important;
}

/* line 499, ../../../../../../compass/spk/sass/styles.scss */
.u {
  text-decoration: underline !important;
}

/* line 503, ../../../../../../compass/spk/sass/styles.scss */
.i {
  font-style: italic !important;
}

/* line 507, ../../../../../../compass/spk/sass/styles.scss */
.block {
  display: block !important;
}

/* line 511, ../../../../../../compass/spk/sass/styles.scss */
.no-border {
  border: none !important;
}

/* line 515, ../../../../../../compass/spk/sass/styles.scss */
.no-bg {
  background: none !important;
}

/* line 519, ../../../../../../compass/spk/sass/styles.scss */
.fltRt {
  float: right !important;
}

/* line 523, ../../../../../../compass/spk/sass/styles.scss */
.fltLft {
  float: left !important;
}

/* line 527, ../../../../../../compass/spk/sass/styles.scss */
.br {
  display: block;
  height: 0;
  font-size: 1px;
  line-height: 1px;
}

/* line 534, ../../../../../../compass/spk/sass/styles.scss */
.clrBth {
  display: block;
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 1px;
}

/* line 542, ../../../../../../compass/spk/sass/styles.scss */
.clrRt {
  display: block;
  clear: right;
  height: 0;
  font-size: 1px;
  line-height: 1px;
}

/* line 550, ../../../../../../compass/spk/sass/styles.scss */
.clrLft {
  display: block;
  clear: left;
  height: 0;
  font-size: 1px;
  line-height: 1px;
}
