
/* line 542, ../../../../../../compass/spk/sass/styles.scss */
.clrRt {
  display: block;
  clear: right;
  height: 0;
  font-size: 1px;
  line-height: 1px;
}

/* line 550, ../../../../../../compass/spk/sass/styles.scss */
.clrLft {
  display: block;
  clear: left;
  height: 0;
  font-size: 1px;
  line-height: 1px;
}
